* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    max-width: 1200px;
    margin: 20px auto;
    display:flex;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0 10px 16px rgba(0,0,0,0.2);
}

.left {
    width: 35%;
    background: linear-gradient(to left bottom, #e8f4fd, #599fd4 );
    padding: 20px;
    border-radius: 20px 0px 0px 0px;
}

.right {
    width: 65%;
    padding: 20px 30px;
}

.left-h1-name {
    color: #00a1ff;
    margin-bottom: 5px;
}
.left-section h2,
.right-section h2 {
    color: #00a1ff;
    font-size: 1.2em;
    border-bottom: 2px solid #00a1ff;
    padding-bottom: 3px;
    margin-top: 25px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #00a1ff;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}
.section-info-image-github{
    width: 23px;
    height: 18px;
}
.info p {
    margin: 8px 0;
    font-size: 0.95em;
}

.info i {
    color: #00a1ff;
    margin-right: 6px;
}

.right-section ul {
    margin: 0;
    padding-left: 20px;
}
.activity p{
    line-height: 2em;
}
.right-section ul li {
    margin-bottom: 6px;
    margin-left: 30px;
}
.right-section p a:hover{
    color: red;
}
.right-section {
    margin-bottom: 20px;
}

.activity, 
.project {
    margin-bottom: 10px;
}
.project li a{
    color: violet;
}
.project li a:hover{
    color: red;
}